header {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

img {
  max-width:100%
}

hr {
  border-top: 0.1rem solid rgba(158, 158, 158, 0.59);
}

#new-user-form, #edit-user-form {
  perspective: 1000px;
}

form {
  max-height: 0px;
  opacity: 0;
  transition: all 0.5s;
  transform-origin: top;
  transform: scaleY(0) rotateX(45deg);
}

form.active {
  max-height: 500px;
  opacity: 1;
  transform: scaleY(1) rotateX(0deg);
}
