<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  	<link rel="stylesheet" href="#"/>
  <title>D.R.U.G.S</title>
</head>
<body style="background-color: purple">
	<h1 style="top: 50%; left: 50%; position: relative; color: white;">D.R.U.G.S.</h1>
	<p></p>
</body>
</html>